{% load static %} {% block content %}
<div class="modal add-modal">
  <div class="modal-background is-flex is-align-items-center">
    <div class="modal-content">
      <div class="box p-5">
        <h3 class="title is-3">Novo protocolo</h3>
        <form action="{% url 'cadastrar_protocolo' %}" method="post" class="box">
          {% csrf_token %}
          <!-- Emitente -->
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Emitente</label>
                <p class="control has-icons-left">
                  <input
                    class="input nome-usuario"
                    type="text"
                    placeholder="Nome"
                    name="emitente_nome"  
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <!-- Destinatario -->
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Destinatário</label>
                <p class="control has-icons-left">
                  <input
                    class="input nome-usuario"
                    type="text"
                    placeholder="Nome"
                    name="destinatario_nome" 
                  />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal mt-5">
              <div class="field">
                <label class="label">Volumes</label>
                <p class="control has-icons-left">
                  <input
                    class="input"
                    type="text"
                    placeholder="Volumes"
                    name="qtd_volumes"
                  />
                  <span class="icon is-small is-left">
                    <i class="material-symbols-outlined"> storage </i>
                  </span>
                </p>
              </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
              <button
                class="button is-dark is-rounded is-small mt-5 mr-3"
                type="submit"
              >
                Salvar <i class="material-symbols-outlined"> done </i>
              </button type="submit">
              <button class="button close is-outlined is-rounded is-small mt-5" data-target="add-modal" type="button">
                Cancelar
              </button>
            </div>
          </div>
        </form>
      </div>
      <button class="modal-close close" data-target="add-modal"></button>
    </div>
  </div>
</div>
{% endblock %}
