{% load static %} {% block content %}
<div class="modal edit-modal">
  <div class="modal-background is-flex is-align-items-center">
    <div class="modal-content">
      <div class="box p-5">
        <h3 class="title is-3">Editar</h3>
        <form id="update-form" action="">
          <!-- Emitente -->

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Emitente</label>
                <p class="control has-icons-left">
                  <input class="input" type="text" placeholder="Nome" />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <!-- Destinatario -->

          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <label class="label">Destinatário</label>
                <p class="control has-icons-left">
                  <input class="input" type="text" placeholder="Nome" />
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal mt-5">
            <div class="field-body">
              <div class="field">
                <div class="control is-expanded">
                  <input class="input" type="date" />
                </div>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="number" placeholder="Volumes" />
                  <span class="icon is-small is-left">
                    <i class="material-symbols-outlined"> storage </i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label">Situação</label>
            <div class="control is-expanded">
              <div class="select is-fullwidth">
                <select>
                  <option value="pendente">Pendente</option>
                  <option value="retirado">Retirado</option>
                  <option value="cancelado">Cancelado</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <button
              class="button is-dark is-rounded is-small mt-5 mr-3"
              type="submit"
            >
              Salvar <i class="material-symbols-outlined"> done </i>
            </button>
            <button class="button close is-outlined is-rounded is-small mt-5">
              Cancelar
            </button>
          </div>
        </form>
      </div>
      <button class="modal-close close"></button>
    </div>
  </div>
</div>
{% endblock %}
