.container404{
	background-image: url(../img/3793096.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70%;
	padding: 260px 0 180px;
	width: 100%;
	padding-left: 15px;
	font-family: Trebuchet ms;
	.contents{
		.head-title{
			color: #222222;
		    font-size: 42px;
		    font-weight: 700;
		    line-height: 60px;
		    margin-bottom: 10px;

		}
		.header-button{
			margin-top: 20px;
			color: #222222;
			border: solid 1px blue;
			max-width:235px;
		    padding-left: 8px;
		    border-radius: 5px;
			.btn{
				margin-right: 10px;
			}
		}
	}
}


.container500{
	background-image: url(../img/3394854.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70%;
	padding: 260px 0 180px;
	width: 100%;
	padding-left: 15px;
	font-family: Trebuchet ms;
	.contents500{
		.head-title500{
			color: #222222;
		    font-size: 42px;
		    font-weight: 700;
		    line-height: 60px;
		    margin-bottom: 10px;

		}
		.header-button500{
			margin-top: 20px;
			color: #222222;
			border: solid 1px blue;
			max-width:235px;
		    padding-left: 8px;
		    border-radius: 5px;
			.btn{
				margin-right: 10px;
			}
		}
	}
}

.card--container {
  background: $white-color;
  padding: 1rem 2rem;
}
.card--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
  }
  a {
    color: #4a4a4a !important;
  }
  .header {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      font-size: 48px !important;
      border-radius: 50%;
    }
    .card-header-title {
      padding: 0.5rem 1rem;
    }
  }
}

.period {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
  justify-content: space-between;
  button {
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: translateY(-2px);
    }
  }
}

.positive {
  background: $green-color;
}
.neutral {
  background: $yellow-color;
}
.negative {
  background: $red-color;
}
@media (max-width: 620px) {
  .card--wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 480px;
    .header {
      margin: 0 auto;
    }
  }
}
@media (min-width: 621px) and (max-width: 768px) {
  .card--container {
    padding: 0;
  }
  .card {
    width: 200px;
    .header {
      width: 190px;
    }
  }
}
