{% load static %} {% block content %}
<div class="sidebar">
  <div class="bars">
    <i class="material-icons md-24 bars-icon">menu</i>
    <i class="material-symbols-outlined c-icon"> donut_small</i>
  </div>
  <ul class="menu">
    <li id='dashboard'>
      <a href="dashboard.html">
        <i class="material-symbols-outlined md-24">speed</i>
        <span>Dashboard</span>
      </a>
    </li>
    <li id='protocolos'>
      <a href="/">
        <i class="material-icons md-24">table_chart</i>
        <span>Protocolos</span>
      </a>
    </li>
    <li id='usuarios'>
      <a href="{% url 'usuarios' %}">
        <i class="material-icons md-24">groups</i>
        <span>Usuários</span>
      </a>
    </li>
    <li id='funcionarios'>
      <a href="{% url 'funcionarios' %}">
        <i class="material-icons md-24">support_agent</i>
        <span>Funcionários</span>
      </a>
    </li>
    <li id='configuracoes'>
      <a href="{% url 'configuracoes' %}">
        <i class="material-icons md-24">settings</i>
        <span>Configurações</span>
      </a>
    </li>
    <li class="logout">
      <a href="#">
        <i class="material-icons md-24">logout</i>
        <span>Sair</span>
      </a>
    </li>
  </ul>
</div>
{% endblock %}
