$white-01: #fff;
$white-02: #f7f7f7;
$white-03: #f2f2f2;

$light-gray-01: rgb(218, 220, 224);
$light-gray-02: #ccc;
$light-gray-03: #e0e0e058;

$gray-01: #717171;
$gray-01-alfa: #71717150;
$gray-02: #575757;

$black-01: #000;
$black-01-alfa: rgba(0, 0, 0, 0.1);
$black-02: #282828;
$black-03: #333;
$black-04: #3a3a3a;

$light-green: rgb(203, 250, 172);
$light-yellow: rgb(255, 241, 177);
$light-red: rgb(255, 177, 177);