{% load static %}
<div class="sidebar">
  <div class="logo"></div>
  <ul class="menu">
    <li class="active">
      <a href="#">
        <i class="fas fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-chart-bar"></i>
        <span>Protocolos</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>Lojas</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-users"></i>
        <span>Usuários</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fas fa-user"></i>
        <span>Perfil</span>
      </a>
    </li>
    <li class="logout">
      <a href="#">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</div>
<div class="main-content">
  <div class="header-wrapper">
    <div class="user-info">
      <div class="search-box">
        <i class="fa-solid fa-search"></i>
        <input type="text" placeholder="Search" />
      </div>
    </div>
    <img
      src="https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg"
      alt=""
    />
  </div>
  <div class="card-container">
    <h3 class="main-title">Protocolo</h3>
    <div class="card-wrapper">
      <div class="payment-card">
        <div class="card-header">
          <div class="ammount"></div>
        </div>
      </div>
    </div>
  </div>
</div>
