{% load static %} {% block content %}
<div class="modal add-modal">
  <div class="modal-background is-flex is-align-items-center">
    <div class="modal-content">
      <div class="box p-5">
        <h3 class="title is-3">Novo protocolo</h3>
        <form action="">
          <!-- Emitente -->
          <span class="tag is-info is-light mb-3">Emitente</span>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control  has-icons-left">
                  <input class="input" type="text" placeholder="Nome">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control  has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="E-mail">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field is-expanded">
                <div class="field has-addons">
                  <p class="control">
                    <a class="button is-static">
                      +55
                    </a>
                  </p>
                  <p class="control is-expanded">
                    <input class="input" type="tel" placeholder="Telefone">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field ">
                <p class="control  has-icons-left">
                  <input class="input" type="text" placeholder="CPF">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <!-- Destinatario -->
          <span class="tag is-info is-light mb-3 mt-3">Destinatário</span>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control  has-icons-left">
                  <input class="input" type="text" placeholder="Nome">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control  has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="E-mail">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field is-expanded">
                <div class="field has-addons">
                  <p class="control">
                    <a class="button is-static">
                      +55
                    </a>
                  </p>
                  <p class="control is-expanded">
                    <input class="input" type="tel" placeholder="Telefone">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field ">
                <p class="control  has-icons-left">
                  <input class="input" type="text" placeholder="CPF">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-horizontal mt-5">
            <div class="field-body">
              <div class="field">
                <div class="control is-expanded">
                  <input class="input" type="date">
                </div>
              </div>
              <div class="field">
                <p class="control  has-icons-left">
                  <input class="input" type="number" placeholder="Volumes">
                  <span class="icon is-small is-left">
                    <i class="material-symbols-outlined">
                      storage
                    </i>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <button class="button is-dark is-rounded is-small mt-5 mr-3" type="submit">Salvar <i
                class="material-symbols-outlined">
                done
              </i></button>
            <button class="button is-outlined is-rounded is-small mt-5">Cancelar</button>
          </div>

        </form>
      </div>
      <button class="modal-close"></button>
    </div>
  </div>
</div>
{% endblock %}