{% load static %} {% load mathfilters %} {% block content %}
<nav
  class="pagination is-rounded is-small ml-3 is-centered"
  role="navigation"
  aria-label="pagination"
>
{% if todos_protocolos.number > 1 %}
  <a href="?page={{ todos_protocolos.number|sub:1 }}" class="pagination-previous">Anterior</a>
  {% endif %} 
  {% if todos_protocolos.number < todos_protocolos.paginator.num_pages %}
  <a href="?page={{ todos_protocolos.number|add:1 }}" class="pagination-next">Próxima página</a>
  {% endif %}
  <ul class="pagination-list">
    <li>
      <a href="?page=1" class="pagination-link" aria-label="Goto page 1">1</a>
    </li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    {% if todos_protocolos.number > 1 %}
    <li>
      <a href="?page={{ todos_protocolos.previous_page_number }}" class="pagination-link" aria-label="Goto page 45">{{ todos_protocolos.number|sub:1 }}</a>
    </li>
    {% endif %}
    <li>
      <a class="pagination-link is-current" aria-label="Page {{ todos_protocolos.number }}" aria-current="page">{{ todos_protocolos.number }}</a>
    </li>
    {% if todos_protocolos.number < todos_protocolos.paginator.num_pages %}
    <li>
      <a href="?page={{ todos_protocolos.next_page_number }}" class="pagination-link" aria-label="Goto page 47">{{ todos_protocolos.number|add:1 }}</a>
    </li>
    {% endif %}
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li>
      <a
        href="?page={{todos_protocolos.paginator.num_pages}}"
        class="pagination-link"
        aria-label="Goto page {{todos_protocolos.paginator.num_pages}}"
        >{{todos_protocolos.paginator.num_pages}}</a
      >
    </li>
  </ul>
</nav>
{% endblock %}
