.card--container {
  background: $white-color;
  padding: 1rem 2rem;
}
.card--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.card {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
  }
  .header {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    i {
      font-size: 48px !important;
      border-radius: 50%;
    }
    .card-header-title {
      padding: 0.5rem 1rem;
    }
  }
}

.period {
  display: flex;
  margin-bottom: 15px;
  gap: 10px;
  button {
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: translateY(-2px);
    }
  }
}
.positive {
  background: $green-color;
}
.neutral {
  background: $yellow-color;
}
.negative {
  background: $red-color;
}
@media (max-width: 620px) {
  .card--wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 480px;
    .header {
      margin: 0 auto;
    }
  }
}
@media (min-width: 621px) and (max-width: 768px) {
  .card--container {
    padding: 0;
  }
  .card {
    width: 200px;
    .header {
      width: 190px;
    }
  }
}
