$white-color: #ffffff;
$black-color: #000000;

$green-color: rgb(203, 250, 172);
$yellow-color: rgb(255, 241, 177);
$red-color: rgb(255, 177, 177);

$alfa-lightest-gray-color: #e0e0e058;
$lightest-gray-color:#e0e0e0;
$light-gray-color: rgb(218, 220, 224);
$gray-color: #cccccc;
$medium-gray-color: #717171;
$dark-gray-color: #363636;

