.container404{
	background-image: url(../img/3793096.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70%;
	padding: 260px 0 180px;
	width: 100%;
	padding-left: 15px;
	font-family: Trebuchet ms;
	.contents{
		.head-title{
			color: #222222;
		    font-size: 42px;
		    font-weight: 700;
		    line-height: 60px;
		    margin-bottom: 10px;

		}
		.header-button{
			margin-top: 20px;
			color: #222222;
			border: solid 1px blue;
			max-width:235px;
		    padding-left: 8px;
		    border-radius: 5px;
			.btn{
				margin-right: 10px;
			}
		}
	}
}


.container500{
	background-image: url(../img/3394854.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70%;
	padding: 260px 0 180px;
	width: 100%;
	padding-left: 15px;
	font-family: Trebuchet ms;
	.contents500{
		.head-title500{
			color: #222222;
		    font-size: 42px;
		    font-weight: 700;
		    line-height: 60px;
		    margin-bottom: 10px;

		}
		.header-button500{
			margin-top: 20px;
			color: #222222;
			border: solid 1px blue;
			max-width:235px;
		    padding-left: 8px;
		    border-radius: 5px;
			.btn{
				margin-right: 10px;
			}
		}
	}
}