.main--content {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}
.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
  border-radius: 10px;
  padding: 16px 1.8rem;
}
.panel-block {
  width: 500px;
  &:not(:last-child) {
    border-bottom: none !important;
  }
}

.ui-widget {
  font-family: "Inter", sans serif !important;
  border-radius: 8px !important;
  
  
  .ui-menu-item {
    border-bottom: 1px solid $alfa-lightest-gray-color;
  }
  .ui-corner-all {
    color: $medium-gray-color !important;
  }
  
}
.ui-widget-content {
  border: 1px solid $alfa-lightest-gray-color !important;
}

.ui-menu-item a.ui-state-focus {
    background: $alfa-lightest-gray-color !important;
    border-radius: 3px;
    border: none;
}

@media (max-width: 768px) {
  .main--content {
    margin-left: 5px;
  }
  .header--wrapper {
    padding: 5px;
  }
  i#user {
    padding-right: 10px;
  }
}
@media (max-width: 580px) {
  .header--wrapper {
    padding: 10px;
    i#user {
      display: none;
    }
  }
}
