.main--content {
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}
.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
  border-radius: 10px;
  padding: 16px 1.8rem;
}
.panel-block {
  width: 500px;
  &:not(:last-child) {
    border-bottom: none !important;
  }
}

@media (max-width: 768px) {
  .main--content {
    margin-left: 5px;
  }
  .header--wrapper {
    padding: 5px;
  }
  i#user {
    padding-right: 10px;
  }
}
@media (max-width: 580px) {
  .header--wrapper {
    padding: 10px;
    i#user {
      display: none;
    }
  }
}
