@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
$font-family: "Inter", sans serif;

/* Colors */
@import "./colors.scss";
/* Reset */
@import "./reset.scss";
/* Sidebar */
@import "./sidebar.scss";
/* Header */
@import "./header.scss";
/* Card */
@import "./card.scss";
/* Table */
@import "./table.scss";
/* Users */
@import "./users.scss";

.fade-in {
    opacity: 0;
    animation: fadeIn 0.8s ease;
}

.fade-in.active {
    opacity: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}