.modal::-webkit-scrollbar, .modal-content::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 10px;
}

.modal::-webkit-scrollbar-thumb, .modal-content::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: $light-gray-color;
    border-radius: 8px;
}

.modal::-webkit-scrollbar-thumb, .modal-content::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: $light-gray-color;
    border-radius: 8px;
}

.modal::-webkit-scrollbar-track, .modal-content::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: #eaedf0;
}

