.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100vh;
  color: #ccc;
  overflow: hidden;
  transition: all 0.5s linear;
  background: $white-01;
  box-shadow: 11px 14px 41px -29px $black-01-alfa;
  border-right: 1px solid $light-gray-01;
  display: flex;
  flex-direction: column;

  &:hover,
  &.active {
    width: 250px;
    transition: 0.5s;
  }
}
.bars {
  height: 80px;
  padding: 2.2rem;
  align-self: flex-start;
  .bars-icon {
    transition: transform 0.3s;
    &.active {
      transform: rotate(90deg);
    }
  }
  .c-icon {
    display: none;
    opacity: 0;
    color: #363636;
    font-size: 42px;
    padding-left: 32px;
    vertical-align: sub;
    &.active {
      display: inline-block;
      opacity: 1;
      animation: show 0.3s forwards;
    }
  }
  i {
    cursor: pointer;
  }
}
.menu {
  margin-top: 60px;
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;

  li {
    padding: 1rem;
    margin: 8px 0;
    transition: all 0.5s ease-in-out;

    &:hover {
      background: $light-gray-03;
    }
  }

  .active {
    background: $light-gray-03;
    border-right: 2px solid #363636;

    i {
      color: #363636;
    }
  }

  a {
    color: $gray-01;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-left: 20px;

    span {
      overflow: hidden;
    }
  }

  .logout {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
  }
}
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
