.tabular--wrapper {
  background: $white-color;
  padding-left: 1.8rem;
  padding-top: 0.5rem;
}

table {
  margin: 1rem;
}
.table-container {
  overflow: hidden !important;
}
td {
  font-size: 14px;
  i {
    font-size: 18px !important;
  }
}
.is-current {
  background: $dark-gray-color !important;
  border-color: $dark-gray-color !important;
}
