.tabular--wrapper {
  background: #fff;
  padding: 1.8rem;
}
td {
  font-size: 14px;
  i {
    font-size: 18px !important;
  }
}
.is-current {
  background: #363636 !important;
  border-color: #363636 !important;
}
