.tabular--wrapper {
  background: $white-color;
  padding: 1.8rem;
}
td {
  font-size: 14px;
  i {
    font-size: 18px !important;
  }
}
.is-current {
  background: $dark-gray-color !important;
  border-color: $dark-gray-color !important;
}
