{% load static %} {% load mathfilters %} {% block content %}
<nav
  class="pagination is-rounded is-small ml-3 is-centered p-3"
  role="navigation"
  aria-label="pagination"
>
{% if historico.number > 1 %}
  <a href="?page={{ historico.number|sub:1 }}" class="pagination-previous">Anterior</a>
  {% endif %} 
  {% if historico.number < historico.paginator.num_pages %}
  <a href="?page={{ historico.number|add:1 }}" class="pagination-next">Próxima página</a>
  {% endif %}
  <ul class="pagination-list">
    <li>
      <a href="?page=1" class="pagination-link" aria-label="Goto page 1">1</a>
    </li>
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    {% if historico.number > 1 %}
    <li>
      <a href="?page={{ historico.previous_page_number }}" class="pagination-link" aria-label="Goto page 45">{{ historico.number|sub:1 }}</a>
    </li>
    {% endif %}
    <li>
      <a class="pagination-link is-current" aria-label="Page {{ historico.number }}" aria-current="page">{{ historico.number }}</a>
    </li>
    {% if historico.number < historico.paginator.num_pages %}
    <li>
      <a href="?page={{ historico.next_page_number }}" class="pagination-link" aria-label="Goto page 47">{{ historico.number|add:1 }}</a>
    </li>
    {% endif %}
    <li><span class="pagination-ellipsis">&hellip;</span></li>
    <li>
      <a
        href="?page={{historico.paginator.num_pages}}"
        class="pagination-link"
        aria-label="Goto page {{historico.paginator.num_pages}}"
        >{{historico.paginator.num_pages}}</a
      >
    </li>
  </ul>
</nav>
{% endblock %}
